*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #c3cdce ;
}

.main_contaner .input_contaner{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 2vw;

}


.main_contaner .input_contaner input{
    font-size: 24px;
    margin-top: 19px;
    padding: 5px;
    
    
}



.main_contaner .input_contaner .total{
    color: white;
    text-align: left;
    font-size: 22px;
    margin: 10px 0 0px 3px;
    background-color: rgb(4, 23, 189);
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

.main_contaner .input_contaner .total::before{
    content: 'Total: ';
}

.main_contaner .button_contaner button{
    
    width: 24%;
    height: 60px;
    text-align: center;
    font-size: 24px;
    background-color:  #5c6369 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    
}

.main_contaner .button_contaner button:hover{
    background-color: #3e4347;
    
}

.main_contaner .button_contaner .add_btn ,.clear_btn{
    margin:1.5vw 0.5vw;
}




.output_contaner .customers{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.output_contaner .customers tr{
    background-color: white;
}


.output_contaner .customers th ,.customers td{
    padding: 8px;
    border: 1px solid white;
    
}

.output_contaner .customers th{
    color: white;
    background-color:  #229954 ;
}







